In [4]:
import pandas as pd
import os

%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [5]:
country_df = pd.read_csv("data/country_data.csv", encoding="latin-1")
country_df.head()

,Economy,Code,Region,Income group,Lending category,Other
0,Afghanistan,AFG,South Asia,Low income,IDA,HIPC
1,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,NaN
2,Algeria,DZA,Middle East & North Africa,Upper middle income,IBRD,NaN
3,American Samoa,ASM,East Asia & Pacific,Upper middle income,..,NaN
4,Andorra,AND,Europe & Central Asia,High income,..,NaN

In [6]:
def addIndicatorToMainTable(df, wb_df, indicator_df, short_code):

    df.dropna(axis=1, how="all", inplace=True)

    # add to indicator table
    indicator_cols = ["Indicator Name", "Indicator Code"]
    indic_df = df[indicator_cols].drop_duplicates()
    indic_df["Indicator Short Code"] = short_code
    indicator_df = indicator_df.append(indic_df, sort=False)

    # melt table
    df.drop(columns=indicator_cols, inplace=True)
    df_m = df.melt(
        id_vars=["Country Name", "Country Code"], var_name="year", value_name=short_code
    )

    # add to main table
    if len(wb_df.columns) == 2:
        wb_df = wb_df.merge(df_m, on=["Country Name", "Country Code"], how="outer")
    else:
        wb_df = wb_df.merge(
            df_m, on=["Country Name", "Country Code", "year"], how="outer"
        )
    return wb_df, indicator_df

In [11]:
indicator_list = ["GDP.MKTP", "GDP.PCAP", "CO2E.KT", "CO2E.PC", "GHGT.KT"]

False

In [14]:
indicator_df = pd.DataFrame(
    columns=["Indicator Name", "Indicator Code", "Indicator Short Code"]
)

# loop through tables and create wb_df and inidicator_df tables
for indic in indicator_list:
    for folder in os.listdir("data"):
        if indic in folder and "zip" not in folder:
            # print(folder)
            for file in os.listdir("data/" + folder):
                # print(file)
                df = pd.read_csv("data/{}/{}".format(folder, file), skiprows=4)
                #create wb_df if doesnt exist
                if "wb_df" not in locals():
                    wb_df = df[["Country Name", "Country Code"]]
                wb_df, indicator_df = addIndicatorToMainTable(
                    df, wb_df, indicator_df, short_code=indic
                )
                break

In [15]:
wb_df.columns

Index(['Country Name', 'Country Code', 'year', 'GDP.MKTP', 'GDP.PCAP',
       'CO2E.KT', 'CO2E.PC', 'GHGT.KT'],
      dtype='object')

In [16]:
wb_df = wb_df.loc[wb_df["Country Code"].isin(list(country_df["Code"]))].reset_index(
    drop=True
)
wb_df.head()

,Country Name,Country Code,year,GDP.MKTP,GDP.PCAP,CO2E.KT,CO2E.PC,GHGT.KT
0,Aruba,ABW,1990,1.497860e+09,24101.109429,1639.149,26.374503,NaN
1,Aruba,ABW,1991,1.671820e+09,25870.755945,1683.153,26.046130,NaN
2,Aruba,ABW,1992,1.810503e+09,26533.343900,1463.133,21.442559,NaN
3,Aruba,ABW,1993,1.988839e+09,27430.752401,1595.145,22.000786,NaN
4,Aruba,ABW,1994,2.197955e+09,28656.520214,1613.480,21.036245,NaN

In [18]:
top_gdp = wb_df.groupby(["Country Name", "Country Code"])[["GDP.PCAP"]].mean()
top_gdp.sort_values(by="GDP.PCAP", ascending=False)

                                             GDP.PCAP
Country Name              Country Code
Qatar                     QAT           110667.738266
United Arab Emirates      ARE            72551.817441
Kuwait                    KWT            71753.977392
Brunei Darussalam         BRN            71310.635413
Luxembourg                LUX            68065.304541
Macao SAR, China          MAC            66881.002597
San Marino                SMR            66222.830300
Cayman Islands            CYM            65600.372810
Singapore                 SGP            55832.844789
Switzerland               CHE            44111.785634
Norway                    NOR            43976.299288
Bermuda                   BMU            42434.294282
United States             USA            41626.188600
Saudi Arabia              SAU            40536.176213
Ireland                   IRL            38415.610118
Bahrain                   BHR            37313.613795
Hong Kong SAR, China      HKG            37197.327914
Netherlands               NLD            36806.339926
Oman                      OMN            35977.051791
Iceland                   ISL            35765.243769
Austria                   AUT            35325.676546
Sint Maarten (Dutch part) SXM            34793.911134
Denmark                   DNK            34593.171171
Sweden                    SWE            34461.023468
Canada                    CAN            33734.460263
Germany                   DEU            33691.766404
Belgium                   BEL            33017.988232
Aruba                     ABW            32927.374849
Australia                 AUS            32556.923694
Finland                   FIN            31265.168536
...                                               ...
Liberia                   LBR             1097.209089
Rwanda                    RWA             1075.684717
Sierra Leone              SLE             1035.675612
Ethiopia                  ETH              847.278519
Malawi                    MWI              843.607954
Central African Republic  CAF              751.586637
Niger                     NER              725.096176
Mozambique                MOZ              696.822883
Burundi                   BDI              667.653600
Congo, Dem. Rep.          COD              646.842738
American Samoa            ASM                     NaN
Andorra                   AND                     NaN
British Virgin Islands    VGB                     NaN
Channel Islands           CHI                     NaN
Cuba                      CUB                     NaN
Faroe Islands             FRO                     NaN
French Polynesia          PYF                     NaN
Gibraltar                 GIB                     NaN
Greenland                 GRL                     NaN
Guam                      GUM                     NaN
Isle of Man               IMN                     NaN
Korea, Dem. People’s Rep. PRK                     NaN
Liechtenstein             LIE                     NaN
Monaco                    MCO                     NaN
New Caledonia             NCL                     NaN
Northern Mariana Islands  MNP                     NaN
Somalia                   SOM                     NaN
St. Martin (French part)  MAF                     NaN
Syrian Arab Republic      SYR                     NaN
Virgin Islands (U.S.)     VIR                     NaN

[217 rows x 1 columns]